@page
@model ShopWebApp.Pages.IndexModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Items</h1>

@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-page="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Product) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> <span>|</span>
                    }
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <span>|</span> <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
